<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>com.pahanaedu.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardController</servlet-name>
		<display-name>DashboardController</display-name>
		<description></description>
		<servlet-class>com.pahanaedu.controller.DashboardController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BillController</servlet-name>
		<display-name>BillController</display-name>
		<description></description>
		<servlet-class>com.pahanaedu.controller.BillController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomersController</servlet-name>
		<display-name>CustomersController</display-name>
		<description></description>
		<servlet-class>com.pahanaedu.controller.CustomersController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InventoryController</servlet-name>
		<display-name>InventoryController</display-name>
		<description></description>
		<servlet-class>com.pahanaedu.controller.InventoryController</servlet-class>
	</servlet>
	<!-- Not Found Error -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<!-- Internal Server Error -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
</web-app>
